data/
data_dumps/
.idea/
.ipynb_checkpoints/
__pycache__/
**/tb_logs/
**/wandb/
**/lightning_logs/
site-packages/
site-packages
*.pclprof
torchvision
outputs/
.pytest_cache/
multirun/
*.sqlite
*.db
src/sennet/environments/environments.py
debug.ipynb
nohup.out
*.bin
checkpoints/
policy/
cifar10-cls/
